body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 16px;
	line-height: 1.125em;
	color: rgb(30, 40, 30);
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

input, button, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/* LINKS */

a, #main.home a {
	outline: none; 
	font-weight: bold;
	color: rgb(30, 40, 30);
	color: rgba(30, 40, 30, .9);
	*color: rgb(30, 40, 30);
}

a:hover, #main.home a:hover {
	color: rgba(30, 40, 30, .7);
}

/* UTILITY */

.clear {
	clear: both;
}

.small {
    font-size: 0.75em;
}

.quiet {
	color: rgba(30, 40, 30, .65);
}

.link-list {
	list-style-type: none;
}

.link-list li {
    margin-bottom: 0.25em;
}

.button-list {
	overflow: hidden;
}

.button-list li {
	list-style-type: none;
	display: inline;
}

/* LAYOUT */

#main {
	overflow: hidden;
	position: relative;
}

#header {
	height: 100px;
	background-color: #9C0008;
}

#footer {
	height: 150px;
	background-color: #111520;
}
.posts {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	overflow: hidden;
}

/* MAIN */

#main {
	background-color: #EDE9EA;
	color: rgb(34, 34, 34);
}

#main h1, #main h2, #main h3 {
	color: rgb(53, 62, 53);
}

#main a {
	color: #9C0008
}

#main a:hover {
	color: rgb(75, 34, 34)
}

/* HOME */

#main.home, #footer.home {
	background-color: #9C0008;
}

#main.home h1, #main.home h2 {
	color: #FFF;
	font-size: 3em;
	width: 10em;
	margin: .5em 0em 0.5em 2.7em;
	letter-spacing: -0.05em;
}

.post .summary {
	width: 200px;
	float: right;
}

/* SECTIONS */

.post h1 {
	font-size: 3em;
	margin: 0.5em 0em 0.4em 2.7em;
	line-height: 1em;
	letter-spacing: -0.05em;
	color: rgb(255, 255, 255);
}

.post h2 {
	font-size: 2.25em;
	margin: 0.5em 0 0.4em 3.7em;
	line-height: 0.8em;
	letter-spacing: -0.075em;
	color: rgb(255, 255, 255);
}

.post h3 {
	font-size: 1.2em;
	margin: .5em 0 0.3em 6.7em;
	padding-bottom: 0.1em;
	letter-spacing: -0.05em;
	color: rgb(255, 255, 255);
}

.post h4 {
	float: right;
	width: 516px;
	padding: 0 132px 15px 15px;
}

/* POST HEADER */

.date {
    float: left;
    font-size: 0.80em;
	padding: 0.4em 0 0;
    color: rgb(109, 116, 109);
}

/* POST TEXT */

.post .post-text {
    float: right;
    width: 516px;
    padding: 0 132px 15px;
}

.post .post-text p {
    font-family: Palatino, Georgia, 'Times New Roman', serif;
    font-size: 1.125;
    line-height: 1.5em;
    text-indent: 1em;
}

.post .post-text p:first-child,
.post .post-text .summary+p,
.post .post-text h3+p,
.post .post-text p.first {
    text-indent: 0;
}

.post .post-text h3+p,
.post .post-text p.first {
    margin-top: 1em;
}

.post .post-text a,
.post .post-text strong,
.post .post-text h3 {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1em;
}

.post .post-text h3 {
    margin-left: 0;
    font-size: 1.125em;
    margin-top: 1.5em;
}

.post .post-text p.first strong:first-child,
.post .post-text .summary+p strong:first-child {
    font-size: 1.125em;
    line-height: 1.25em;
}

.post .post-text ul,
.post .post-text ol {
    margin: 1em 0;
    font-size: 0.875em;
    margin-left: 2.5em;
    line-height: 1.5em;
}

.post .post-text li {
    margin: 0.5em 0;
}

.post .post-text blockquote {
    margin: 1em 0;
    padding: 0.75em 1em;
    font-size: 0.875em;
}

.post .post-text blockquote p:first-child {
    margin-top: 0;
    text-indent: 0;
}

.post .post-text blockquote:first-child,
.post .post-text blockquote.first,
.post .post-text .summary + blockquote {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
}

.post .post-text .caps {
    font-size: 0.9em;
}
