html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.125em;
	color: rgb(34, 34, 34);
	background-color: #A00C0C;
}

/* LINKS */
a {
	font-weight: bold;
	color: rgb(34, 34, 34);
	color: rgba(34, 34, 34, .9);
}

a:hover {
	color: rgba(34, 34, 34, .7);
	text-decoration: underline;
}

/* UTILITY */

.clear {
	clear: both;
}

.small {
    font-size: 0.75em;
}

.quiet {
	color: rgba(34, 34, 34, .65);
}

.link-list {
	list-style-type: none;
}

.link-list li {
    margin-bottom: 0.25em;
}

.button-list {
	overflow: hidden;
}

.button-list li {
	list-style-type: none;
	display: inline;
}

/* LAYOUT */

#main {
	overflow: hidden;
	position: relative;
}

#header {
	height: 100px;
}

h2 {
	color: #999;
}

#footer {
	padding: 30px 0;
	text-align: center;
	color: #999;
}

.posts {
	width: 780px;
	margin: 0 auto 30px;
}

/* MAIN */

#main {
	background-color: #FFF;
	color: rgb(34, 34, 34);
}

#main h1, #main h2, #main h3 {
	color: rgb(18, 22, 33);
}

#main a {
	color: #A00C0C;
}

#main a:hover {
	color: rgb(34, 34, 34)
}

/* NAV */

#nav {
  text-align: center;
}

#nav li {
	display: inline;
}

#nav a:link, #nav a:visited {
	color: #999;
	text-decoration: none;
	font-size: 2.5em;
	line-height: 2em;
	letter-spacing: -0.05em;
	margin: 0.8em 0.8em 0.5em 0;
}

#nav a.active:link, #nav a.active:visited, #nav a:hover {
	border-bottom: 4px solid rgb(34, 34, 34);
	padding-bottom: 2px;
	color: rgb(34, 34, 34);
}


/* HOME */

#main.home, #footer.home {
	background-color: #A00C0C;
}

#main.home h1, #main.home h2 {
	color: #FFF;
	text-decoration: none;
	font-size: 3em;
	width: 10em;
	margin: 0.5em 0 0.5em 2.7em;
	letter-spacing: -0.05em;
}

#main.home p {
	font-family: inherit;
	text-indent: 0;
}

.post .summary {
	width: 200px;
	float: right;
}

/* SECTIONS */

.post h1 {
	font-size: 3em;
	margin: 0.5em 0 0.4em 2.7em;
	line-height: 1em;
	letter-spacing: -0.05em;
	color: rgb(255, 255, 255);
}

.post h2 {
	font-size: 2.25em;
	margin: 0.5em 0 0.4em 3.7em;
	line-height: 0.8em;
	letter-spacing: -0.075em;
	color: rgb(255, 255, 255);
}

.post h3 {
	font-size: 1.2em;
	margin: .5em 0 0.3em 6.7em;
	padding-bottom: 0.1em;
	letter-spacing: -0.05em;
	color: rgb(255, 255, 255);
}

.post h4 {
	float: right;
	width: 516px;
	padding: 0 132px 15px 15px;
}

/* POST HEADER */

.date {
  float: left;
  font-size: 0.80em;
	padding: 0.4em 0 0;
  color: #999;
}

/* POST TEXT */

.post .post-text {
  float: right;
  width: 516px;
  padding: 0em 132px 15px;
}

.post .post-text p {
  font-family: Palatino, Georgia, 'Times New Roman', serif;
  font-size: 1.125;
  line-height: 1.5em;
  text-indent: 1em;
}

.post .post-text ul,
.post .post-text ol {
  margin: 1em 0;
  font-size: 0.875em;
  margin-left: 2.5em;
  line-height: 1.5em;
}

.post .post-text li {
  margin: 0.5em 0;
}

.post .post-text blockquote {
  margin: 1em 0;
  padding: 0.75em 1em;
  font-size: 0.875em;
}

.post .post-text blockquote p:first-child {
  margin-top: 0;
  text-indent: 0;
}

.post .post-text blockquote:first-child,
.post .post-text blockquote.first,
.post .post-text .summary + blockquote {
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}
