html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.125em;
	color: rgb(34, 34, 34);
	background-color: #A00C0C;
}

/* LINKS */
a {
	font-weight: bold;
	color: rgb(34, 34, 34);
	color: rgba(34, 34, 34, .9);
}

a:hover {
	color: rgba(34, 34, 34, .7);
	text-decoration: underline;
}

/* UTILITY */
.small {
  font-size: 0.75em;
}

.quiet {
	color: rgba(34, 34, 34, .65);
}

/* LAYOUT */

h2 {
	color: #999;
}

/* MAIN */

main {
	background-color: #FFF;
	color: rgb(34, 34, 34);
}

main h1, main h2, main h3 {
	color: rgb(18, 22, 33);
}

main a {
	color: #A00C0C;
}

main a:hover {
	color: rgb(34, 34, 34)
}

/* NAV */

header[role="banner"] nav {
  text-align: center;
}

.site-links li {
	display: inline;
}

.site-links a:link, .site-links a:visited {
	color: #999;
	text-decoration: none;
	font-size: 2.5em;
	line-height: 2em;
	letter-spacing: -0.05em;
	margin: 0.8em 0.8em 0.5em 0;
}

.site-links a.active:link,
.site-links a.active:visited,
.site-links a:hover {
	border-bottom: 4px solid rgb(34, 34, 34);
	padding-bottom: 2px;
	color: rgb(34, 34, 34);
}

/* HOME */
main.home {
	background: #A00C0C;
}
main.home h1  a, main.home h2 a {
	color: #FFF;
	text-decoration: none;
	font-size: 3em;
	width: 10em;
	margin: 0.5em 0 0.5em 2.7em;
	letter-spacing: -0.05em;
}

main.home p {
	font-family: inherit;
	text-indent: 0;
}

article .content .summary {
	width: 200px;
	float: right;
}

/* SECTIONS */

article .content h1 {
	font-size: 3em;
	margin: 0.5em 0 0.4em 2.7em;
	line-height: 1em;
	letter-spacing: -0.05em;
	color: rgb(255, 255, 255);
}

article .content h2 {
	font-size: 2.25em;
	margin: 0.5em 0 0.4em 3.7em;
	line-height: 0.8em;
	letter-spacing: -0.075em;
	color: rgb(255, 255, 255);
}

article .content h3 {
	font-size: 1.2em;
	margin: .5em 0 0.3em 6.7em;
	padding-bottom: 0.1em;
	letter-spacing: -0.05em;
	color: rgb(255, 255, 255);
}

article .content h4 {
	float: right;
	width: 516px;
	padding: 0 132px 15px 15px;
}
