<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/atom.xml" rel="alternate" title="Drew Franklin">
	<link rel="stylesheet" href="/css/main.css?v=1.0">

	<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<script>
	(function(d) {
		var config = {
			kitId: 'qft8qdv',
			scriptTimeout: 3000,
			async: true
		},
		h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	})(document);
</script>
</head>
<body>
	{% include header.html %}
	<main role="main" class="{{ page.class }}">
		{{ content }}
	</main>
	{% include footer.html %}
</body>
</html>
